*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor-cards{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.contenedor-cards > div{
    flex: 1;
  
}
.contenedor-cards div{
    min-width: 150px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 2px rgba(128, 0, 0, 0.15);
}
.contenedor-cards div:nth-child(1){
    border: 1px solid #FFA970;
    background-color:#FFA970 ;
    color: white;
    min-width: 150px;
    border-radius: 4px;
}
.contenedor-cards div:nth-child(2){
    border: 1px solid #639FFF;
    background-color:#639FFF ;
    color: white;
    min-width: 150px;
    border-radius: 4px;
}
.contenedor-cards div:nth-child(3){
    border: 1px solid #BC2BFF;
    background-color:#BC2BFF ;
    color: white;
    min-width: 150px;
    border-radius: 4px;
}
.contenedor-cards div:nth-child(4){
    border: 1px solid #FF5E66;
    background-color:#FF5E66 ;
    color: white;
    min-width: 150px;
    border-radius: 4px;
}
.cards{
    padding: 1px 20px;
    text-align: center;
}
.cards a{
    font-size: 0.9rem;
    font-weight: lighter;
    white-space: pre;
  
}
.contenedor-cards div{
    box-shadow: 0px 0px 2px 2px rgba(128, 0, 0, 0.15);
}
/*  */
.contenedor-cards-dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.cards-dashboard{
    width: 300px;
    height:100%;
    background-color: rgb(251, 251, 251);
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    box-shadow: 0px 0px 2px 2px rgba(180, 180, 180, 0.15);
    padding: 20px 10px;
    text-align: center;
  
}
.cards-dashboard div{
    margin-bottom: 20px;
}