<div class="header_dashboard">
    <div class="contenedor_header_dashboard">
        <div class="titulo_header_dashboard">
            <div>
                <a class="tamaño-type-one btn_check_menu_lateral" id="btn_menu_lateral"><i class="bi bi-columns-gap"></i>
                    <input type="checkbox" class="checkbox_menu_lateral" id="checkbox_menu_lateral">
                </a>
            </div>
            <div>
                <a>Proyectoweb</a>
            </div>
        </div>
        <div class="menu_top">
            <div class="contenedor_menu_top">
                <div>
                    <a class="tamaño-type-one responsive_menu_off"><i class="bi bi-chat-square-text"></i></a>
                </div>
                <div>
                    <a class="tamaño-type-one responsive_menu_off"><i class="bi bi-bell"></i></a>
                </div>
                <div class="container">
                    <div class="btn-group">
                        <a class=" dropdown-toggle btn-type-one usuario_dropdown" data-bs-toggle="dropdown"
                           data-bs-auto-close="true" aria-expanded="false" style="color: white;" th:text="${session.nombreUsuario}"></a>

                        <ul class="dropdown-menu " style="width: 100%;">
                            <li><a class="dropdown-item" href="#"><i class="bi bi-person"></i> <span>Mi
                                                Perfil</span></a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-gear"></i>
                                <span>Configuracion</span></a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-question-circle"></i>
                                <span>Ayuda!</span></a></li>
                            <li><a class="dropdown-item" href="/logout"><i class="bi bi-box-arrow-right"></i>
                                <span>Cerrar sesion</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>