<div class="menu_lateral" id="menu_lateral">
    <div class="contenedor_menu_lateral">
        <li class="contenedor_link ">
            <a href="" class="link_barra_lateral "><span>Dashboard</span>
                <i class="bi bi-speedometer2"></i>
            </a>
        </li>
        <li class="contenedor_link ">
            <a href="/administrador/inventario" class="link_barra_lateral "><span>Inventario</span>
                <i class="bi bi-box-seam"></i>
            </a>
        </li>
        <li class="contenedor_link ">
            <a href="/administrador/usuarios" class="link_barra_lateral "><span>Usuarios</span>
                <i class="bi bi-people"></i>
            </a>
        </li>
        <li class="contenedor_link ">
            <a href="" class="link_barra_lateral "><span>Asignacion</span>
                <i class="bi bi-clipboard-check"></i>
            </a>
        </li>


    </div>
</div>