<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="/fragmentos/administrador/head :: head"></head>

<body th:if="${session.codigoUsuario != null}">

    <div class="contenedor_dashboard">
        <!-- fragmentos       -->
        <div th:replace="/fragmentos/administrador/barra-top :: div"></div>
        <!---->
        <div class="body_dashboard">
            <div th:replace="/fragmentos/administrador/menu-lateral :: div"></div>
            <main class="contenido_body">
                <div class="contenedor-cards-dashboard container">
                    <div class="cards-dashboard">
                        <div class="cabecera-card">
                            <a>Inventario de Usuarios</a>
                        </div>
                        <div class="cuerpo-card">
                            <canvas id="miGrafico"></canvas>
                        </div>
                        <div class="footer-card">
                            <a href="" class="btn-type-two btn_dashboard_option">Ingresar</a>
                        </div>
                    </div>
                    <div class="cards-dashboard">
                        <div class="cabecera-card">
                            <a>Inventario de Usuarios</a>
                        </div>
                        <div class="cuerpo-card">
                            <canvas id="miGrafico1"></canvas>
                        </div>
                        <div class="footer-card">
                            <a href="" class="btn-type-two btn_dashboard_option">Ingresar</a>
                        </div>
                    </div>
                    <div class="cards-dashboard">
                        <div class="cabecera-card">
                            <a>Inventario de Usuarios</a>
                        </div>
                        <div class="cuerpo-card">
                            <canvas id="miGrafico2"></canvas>
                        </div>
                        <div class="footer-card">
                            <a href="" class="btn-type-two btn_dashboard_option">Ingresar</a>
                        </div>
                    </div>
                    <div class="cards-dashboard">
                        <div class="cabecera-card">
                            <a>Inventario de Usuarios</a>
                        </div>
                        <div class="cuerpo-card">
                            <canvas id="miGrafico3"></canvas>
                        </div>
                        <div class="footer-card">
                            <a href="" class="btn-type-two btn_dashboard_option">Ingresar</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>


    </div>
  
<!-- MODAL -->


    <!--sweet alert js-->
    <script src="../js/menuLateral.js"></script>
    <script src="../js/error.js"></script>
    <script src="../https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/sweetAlert.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../bootstrap/js/bootstrap.js"></script>
    <script src="../bootstrap/js/bootstrap.esm.js"></script>
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../js/charts.js"></script>
    <script src="../bootstrap/chart/chart.umd.js"></script>
    <script src="../bootstrap/chart/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
<body  th:unless="${nombreUsuario != null}">
    <div th:replace="/fragmentos/administrador/error-404 :: div"></div>
</body>

</html>