/* body_cards_dashboard*/
.body_cards_dashboard{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.body_cards_dashboard > div{
    flex:1 ;
}

/*contenedor_cards*/
.contenedor_cards {    
    /*
    relativo el witdh en las cards
    width: 320px;
    */
    border: 1px solid rgb(240, 241, 241);
    background-color: rgb(253, 253, 253);
    box-shadow: 0px 0px 5px 0px rgb(228, 228, 228);
    border-radius: 5px;
    box-sizing: border-box;
    
}
.contenedor_cards a{
    text-decoration: none;
}
.cards_dashboard {
    padding: 10px 20px;
}
.componente_card{
    display: flex;
    justify-content: space-between;
}



/*color icon card*/

/*podemos agregar mas colores aqui sin perder el orden*/
.componente_card i{
    font-size: 1.5rem;
    border: 1px solid #f5365c;
    background-color: #f5365c;
    padding: 10px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
}

/* letra card*/
/*el color tamano y fuente de letra*/
.letra_card p{
    color: rgb(90, 90, 90);  
}
.letra_card p:nth-child(1){
    font-weight: bold; 
}
.datos_card{
    margin-top: 10px;
}
.datos_card p{
    font-size: .8rem;
    color: rgb(90, 90, 90);
}
.datos_card span{
    color: green;
}
@media (max-width:600px){
    .contenedor_cards{
        width: 100%;
    }

}