body {
    min-width: 300px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor_login_admin {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.contenedor_formulario_login {
    border: 1px solid rgba(0, 0, 0, 0.120);
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.090);
    border-radius: 10px;
    width: 450px;

    padding: 20px 20px;
    margin: 4%;
}

.titulo_formulario_login_admin {
    text-align: center;
}

.titulo_formulario_login_admin img {
    width: 90%;
}

.titulo_formulario_login_admin a {
    display: block;
    font-size: 0.9rem;
}

.titulo_formulario_login_admin span {
    font-size: 0.7rem;
}

.datos_usuario_admin label {
    display: block;
    font-size: 0.9rem;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.829);
}

.datos_usuario_admin input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .125);
    color: rgba(0, 0, 0, 0.829);
    outline: none;
    font-size: 0.9rem;
}

.datos_usuario_admin input:focus {
    border: 1px solid #032a5a;
}

.datos_usuario_help {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.829);

}

.datos_usuario_help a {
    font-size: 0.8rem;
}

.buttom_usuario_admin {
    text-align: center;
}

.buttom_usuario_admin input {
    padding: 10px 50px;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: #032a5a;
    color: white;
    border: none;
    border-radius: 2px;
}